# Environment Variables
.env

# Application Data
temp_pdfs/
faiss_index/
eval_logs.json

# Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# Streamlit
.streamlit/
! .streamlit/config.toml

# OS
.DS_Store
Thumbs.db
